$color-primary: #FF416C;
$color-secondary: #FF7E4D;

$color-purple-light: #41295A;
$color-purple-dark: #2F0743;

$color-delete: #311A86;

$color-white: #fff;
$color-black: #000;

$color-green: #3E986D;

$color-property-background: #0F0D1A;


// FONT
$default-font-size: 1.6rem;

// SIZE
$width-logo: 8rem;